body{
    background-color: #6C8DB0;
}
.header{
    background-color: #303030;
}
.form-container{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px;
}
form{
    background: #fff;
}
.input-email{
        margin-left: 40px;
}
#link a{
    text-decoration: none;
  }
  .span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color:#e63636;
    display: none;
  }

  