@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h4  {
  font-family: "Hammersmith One", sans-serif;
    font-weight: 800;
    
}

label, p, button{
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #6C8DB0;
}

.header {
  background-color: #303030;
}

.form-container {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px;
}

form {
  background: #fff;
}

#link a {
  text-decoration: none;
}

.span-required {
  font-size: 12px;
  margin: 3px 0 0 1px;
  color: #e63636;
  display: none;
}

.footer {
  background-color: #303030;
}

#mostrar2:checked ~ #eye {
  display: inline;
}

#mostrar2:checked ~ #eye-slash {
  display: none;
}

#eye, #eye-slash {
  cursor: pointer;
}

#eye {
  display: none;
}

#mostrar:checked ~ #eye {
  display: inline;
}

#mostrar:checked ~ #eye-slash {
  display: none;
}