@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1  {
  font-family: "Hammersmith One", sans-serif;
    font-weight: 800;
    
}

label, p, button{
  font-family: "Montserrat", sans-serif;
}

body{
    background-color: #6C8DB0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    background-color: #303030;
}
.footer{
  background-color: #303030;
}
form{
    background: #fff;
}
.form-container{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px;
}
.btn-google {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
  }
  
  .btn-google svg {
    width: 18px;
    height: 18px;
    
  }
.row {
    flex-wrap: wrap;
    align-content: center;
  }
  .google{
    height: 120%;
  }
  #link a{
    text-decoration: none;
  }
  