.picture {
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture__img {
    max-width: 100%;
  }